body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    height: auto;
}

/* Header */

header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
}

.menu__burger {
    padding: 5px;
}

.burger {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.menu__block__left{
    display: flex;
    align-items: center;
}

.menu__block__left a {
    padding-left: 30px;
    text-decoration: none;
    color: #000;
}

.logo {
    margin-right: 300px;
    margin-left: 300px;
}

.menu__block__right {
    display: flex;
    align-items: center;
}

.menu__block__right a {
    padding-right: 30px;
    text-decoration: none;
    color: #000;
}

.btn {
    border-radius: 40px;
    background-color: #000;
    color:#fff;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

/* Intro*/

.intro {
    margin-top: 50px;
    background: url("../maket\ 1/1.jpg") center no-repeat;
}

.intro__inner {
    text-align: center;
}

.intro__suptitle {
    padding-top: 30px;
    margin-bottom: 0;
    font-size: 40px;
}

.intro__title {
    width: 600px;
    text-align: center;
    padding-left: 330px;
    display: block;
}

.btn__intro {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgb(160, 158, 158) ;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.img__intro {
    display: block;
    align-items: center;
    padding-left: 520px;
    margin-top: 30px;
}

/* Time */

.time {
    margin: 50px 0 40px 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.time__inner {
    padding: 20px;
    width: 50%;
}

.time__inner i {
    font-size: 30px;
    color: rgb(109, 142, 231);
}

.time__title p {
    font-size: 30px;
}

/* Info */

.info {
    display: flex;
    justify-content: space-between; /*разместились по разным углам*/
    align-items: center;
    margin-bottom: 50px;
}

.img__info {
    display: block;
    margin-left: -150px;
}

.info__inner {
    padding-left: 100px;
}

.info__title {
    font-size: 30px;
}

.info__text {
    width: 50%;;
    margin-bottom: 20px;
}

.info__btn__left {
    border-radius: 40px;
    border: none;
    background-color: rgb(109, 142, 231);
    color: #fff;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.info__btn__left i {
    padding-left: 20px;
    padding-right: 5px;
}

.info__btn__right {
    border-radius: 40px;
    border: 1px solid rgb(160, 158, 158) ;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

/* Place */

.place {
    display: flex;
    justify-content: space-between; /*разместились по разным углам*/
    align-items: center;
    margin-bottom: 50px;
}

.place__title {
    font-size: 30px;
    margin-bottom: 20px;
}

.partner {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 10px;
}

.partner__icons {
    display: flex;
}

.partner__text__left {
    color: rgb(109, 142, 231);
    margin-right: 20px;
}

.partner__text__right {
    color: rgb(86, 212, 128);
    font-size: 15px;
}

.partner__text__right i {
    color: rgb(142, 151, 175);
}

.img__place {
    display: block;
    margin-right: -150px;
}

/* Phone */

.phone{
    text-align: center;
}

.phone__title {
    font-size: 30px;
}

.line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: rgb(109, 142, 231);
    margin-left: 610px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.phone__subtitle {
    font-size: 10px;
    color: gray;
    margin-bottom: 30px;
}

.phone__title_after {
    margin-top: 80px;
    font-size: 10px;
    color: gray;
}

.phone__text_after {
    font-size: 30px;
}

.subscribe__input {
    margin-top: 30px;
    width: 180px;
    height: 20px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;
    border-radius: 40px;

    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    font-size: 13px;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight: 300;

    padding: 12px;
}

.subscribe__input:focus {
    outline: 0;
    border-color: green;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__button {
    width: 140px;
    height: 40px;
    border-radius: 40px;

    padding: 12px 30px;
    background-color: green;
    border: 0;
    cursor: pointer;
    color: #fff;

    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    font-size: 10px;
    text-transform: uppercase;

    transition: background .2s linear;
}

.subscribe__button:hover {
    background-color: #22b12a;
}

.subscribe__button:focus {
    outline: 0;
}


.phone__info {
    margin: 50px 0 10px;
}

.phone__button {
    margin-bottom: 60px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 25px;
    background-color: black; 
    color: #fff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: 560px;
}

.phone__button i {
    font-size: 25px;
    margin-right: 8px;    
}

.phone__button__intro {
    font-size: 10px;
}

.phone__button__add {
    font-size: 15px;
    margin: 0;
}

/* Client */

.client {
    text-align: center;
}

.img__client {
    margin-bottom: 15px;
    margin-top: 40px;
}

.client__title {
    font-size: 20px;
    margin: 20px;
}

.client__intro {
    margin: 10px;
    width: 300px;
    margin-left: 480px;
}

.client__footer {
    font-size: 8px;
    margin-bottom: 80px;
}

/* Plan */

.plan {
    padding: 30px;
    display: flex;
} 

.plan__inner {
    width: 33%;
    margin-right: 70px;
}

.plan__title {
    font-size: 30px;
}

.plan__subtitle {
    font-size: 13px;
    margin: 20px 0;
}

.plan__btn__left, 
.plan__btn__right {
    border-radius: 40px;
    border: 2px solid gray;
    background-color: #fff;
    padding: 3px 10px;
    margin: 10px 0;
    cursor: pointer;
}

.plan__intro {
    color: grey;
    margin: 10px 0;
}

.plan__subintro {
    color: grey;
    margin-top: 40px;
}


.plan__starter {
    height: 400px;
    width: 300px;
    background-color: rgb(228, 226, 226);
}

.starter__carcas {
    margin-top: 35px;
}

.starter__header {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

.starter__btn {
    border: 2px solid rgb(131, 127, 127);
    border-radius: 30px;
    font-size: 10px;
    padding: 3px 13px;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 20px;
}

.starter__subtitle {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-check  {
    color: rgb(45, 192, 65);
    margin-right: 5px;
}

.starter__intro {
    text-align: center;
    margin-top: 10px;
}

.starter__btn__down {
    width: 150px;
    cursor: pointer;
    margin: 50px 75px;
    border: none;
    color: #fff;
    background-color: rgb(45, 55, 187);
    border-radius: 40px;
    padding: 10px 10px;
    
}

.plan__pro {
    height: 370px;
    width: 270px;
    margin-top: 17px;
    background-color: rgb(165, 160, 160);
}

.pro__header {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

.pro__btn {
    border: 2px solid rgb(131, 127, 127);
    background-color: rgb(165, 160, 160);
    border-radius: 30px;
    font-size: 10px;
    padding: 3px 13px;
    cursor: pointer;
    margin-left: 110px;
    margin-top: 20px;
}

.pro__subtitle {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-check  {
    color: rgb(45, 192, 65);
    margin-right: 5px;
}

.pro__intro {
    text-align: center;
    margin-top: 10px;
}

.pro__btn__down {
    width: 150px;
    cursor: pointer;
    margin: 30px 60px;
    border: 3px solid rgb(45, 55, 187);
    color: rgb(45, 55, 187);
    background-color: rgb(165, 160, 160);
    border-radius: 40px;
    padding: 5px 0;
    
}

/* Subscribe */

.subscribe {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
} 

.subscribe__quote {
    font-size: 10px;
    color: grey;
    margin-bottom: 120px;
}

/* Footer */

.footer {
    display: flex;
    width: 100%;
}

.footer__inner {
    width: 50%;
}

.footer .left__tittle {
    font-size: 10px;
    color: grey;
    margin-top: 20px;
}

.footer .button {
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 25px;
    background-color: black; 
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;

}

.foote .button i {
    font-size: 25px;
    margin-right: 8px;    
}

.footer .button__intro {
    font-size: 10px;
}

.footer .button__intro_down {
    font-size: 15px;
    margin: 0;
}

 footer .button .fab {
    font-size: 25px;
    margin-right: 8px;
}

.icons i {
    margin-top: 15px;
    width: 30px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 100px;
    color: grey;
}

footer .footer__right {
    display: flex;
    width: 50%;
}

footer .footer__right .first, .second, .third{
    margin-right: 80px;
}

footer .footer__right .title {
    font-size: 13px;
    background-color: none;
}

footer .footer__right .footer__intro {
    background-color: none;
    font-size: 12px;
    color: grey;
    margin-top: 5px;
    cursor: pointer;
}

.end {
    display: flex;
    width: 100%;
}

.end__first {
    width: 50%;
    font-size: 10px;
}
